@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Karla,Arial,Helvetica,sans-serif;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    color: #4c4c4c;
    line-height: 1.2;
    font-size: 14px
}

.widget-title:before{
    background-color: rgba(255,255,255,.8);
    content: "";
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 30px;
    height: 2px;
}

@layer components {
    ul.menu li{
        @apply text-gray-60 mb-4 last:mb-0
    }
    
    ul.menu li a{
        @apply hover:text-white hover:underline
    }

    .widget-title{
        @apply font-karla font-bold uppercase mb-30px text-white relative pb-1 text-16 tracking-widget
    }
}